# Maven
target/
*.jar
*.war
*.ear

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# macOS
.DS_Store

# Eclipse
.project
.classpath
.csettings/
.settings/

# VS Code
.vscode/

# Environment files
.env

# OS metadata
Thumbs.db